<!-- Electronics Products -->
<div class="card">
    <h5>Electronics Products</h5>
    <button>Smartphones</button>
    <button>Laptop</button>
    <button>Camera</button>
    <button>Printer</button>
    <button>TV</button>
    <button>Speaker</button>

    <div class="container">
        <div class="row text-center justify-content-center scroll">
            <div class="card" style="width: 18rem;">
                <picture>
                    <img
                        src="https://rukminim1.flixcart.com/image/312/312/l29c9e80/mobile/l/g/m/-original-imagdnefhnhztahe.jpeg?q=70"
                        class="img-thumbnail" alt="...">
                </picture>
                <div class="card-body">
                    <h5 class="card-title">Motorola</h5>
                    <p class="card-text">Some quick example text to build on the
                        card
                        title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary mt-auto">Buy Now</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <picture>
                    <img
                        src="https://rukminim1.flixcart.com/image/312/312/k2jbyq80pkrrdj/mobile-refurbished/x/j/s/iphone-11-128-d-mwm02hn-a-apple-0-original-imafkg242ugz8hwc.jpeg?q=70"
                        class="img-thumbnail" alt="...">
                </picture>
                <div class="card-body">
                    <h5 class="card-title">Iphone 11</h5>
                    <p class="card-text">Some quick example text to build on the
                        card
                        title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary mt-auto">Buy Now</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <picture>
                    <img
                        src="https://rukminim1.flixcart.com/image/312/312/xif0q/mobile/h/r/b/-original-imagh29eqd3zrvaf.jpeg?q=70"
                        class="img-thumbnail" alt="...">
                </picture>
                <div class="card-body">
                    <h5 class="card-title">Moto g50</h5>
                    <p class="card-text">Some quick example text to build on the
                        card
                        title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary mt-auto">Buy Now</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <picture>
                    <img
                        src="https://rukminim1.flixcart.com/image/312/312/xif0q/mobile/2/i/c/-original-imaggvx8zyfjwqyb.jpeg?q=70"
                        class="img-thumbnail" alt="...">
                </picture>
                <div class="card-body">
                    <h5 class="card-title">Infinix 11</h5>
                    <p class="card-text">Some quick example text to build on the
                        card
                        title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary mt-auto">Buy Now</a>
                </div>
            </div>


        </div>

        <div class="row text-center justify-content-center scroll">
            <div class="card" style="width: 18rem;">
                <picture>
                    <img
                        src="https://rukminim1.flixcart.com/image/312/312/xif0q/computer/e/1/7/-original-imag3ebnzawky4kn.jpeg?q=70"
                        class="img-thumbnail" alt="...">
                </picture>
                <div class="card-body">
                    <h5 class="card-title">Asus notebook</h5>
                    <p class="card-text">Some quick example text to build on the
                        card
                        title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary mt-auto">Buy Now</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <picture>
                    <img
                        src="https://rukminim1.flixcart.com/image/312/312/xif0q/computer/k/b/q/-original-imaghsggzmjg7qgn.jpeg?q=70"
                        class="img-thumbnail" alt="...">
                </picture>
                <div class="card-body">
                    <h5 class="card-title">Asus Vivobook</h5>
                    <p class="card-text">Some quick example text to build on the
                        card
                        title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary mt-auto">Buy Now</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <picture>
                    <img
                        src="https://rukminim1.flixcart.com/image/312/312/xif0q/computer/e/1/7/-original-imag3ebnzawky4kn.jpeg?q=70"
                        class="img-thumbnail" alt="...">
                </picture>
                <div class="card-body">
                    <h5 class="card-title">Asus Laptop</h5>
                    <p class="card-text">Some quick example text to build on the
                        card
                        title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary mt-auto">Buy Now</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <picture>
                    <img
                        src="https://rukminim1.flixcart.com/image/312/312/kp5sya80/screen-guard/tempered-glass/o/v/n/apple-macbook-air-m1-13-3-inch-lightwings-original-imag3gh5xftgbpg3.jpeg?q=70"
                        class="img-thumbnail" alt="...">
                </picture>
                <div class="card-body">
                    <h5 class="card-title">Macbook Pro M2</h5>
                    <p class="card-text">Some quick example text to build on the
                        card
                        title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary mt-auto">Buy Now</a>
                </div>
            </div>


        </div>
    </div>
</div>

<!-- Fashion Products -->

<div class="card">
    <h5>Fashion Products</h5>
    <button>Shirts</button>
    <button>Jeans</button>
    <button>Shoes</button>
    <button>Sunglasses</button>
    <button>Sandals</button>
    <button>T-Shirt</button>


    <div class="container">
        <div class="row text-center justify-content-center scroll">
            <div class="card" style="width: 18rem;">
                <picture>
                    <img
                        src="https://rukminim1.flixcart.com/image/612/612/xif0q/shirt/u/x/r/xxl-bhmls22561-being-human-original-imaghpth627tpg6f.jpeg?q=100"
                        class="img-thumbnail" alt="...">
                </picture>
                <div class="card-body">
                    <h5 class="card-title">Men Slim Fit Solid Mandarin Colla</h5>
                    <p class="card-text">Some quick example text to build on the
                        card
                        title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary mt-auto">Buy Now</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <picture>
                    <img
                        src="https://rukminim1.flixcart.com/image/612/612/xif0q/t-shirt/e/z/h/xl-jc-19-rn-hs-navy-slv-strip-jump-cuts-original-imaggd23nzjq7xzq.jpeg?q=100"
                        class="img-thumbnail" alt="...">
                </picture>
                <div class="card-body">
                    <h5 class="card-title">Men Solid Round Neck Pink T-Shirt</h5>
                    <p class="card-text">Some quick example text to build on the
                        card
                        title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary mt-auto">Buy Now</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <picture>
                    <img
                        src="https://rukminim1.flixcart.com/image/612/612/xif0q/t-shirt/8/a/4/xl-bhtslv22579-being-human-original-imagkk33na38u8gf.jpeg?q=100"
                        class="img-thumbnail" alt="...">
                </picture>
                <div class="card-body">
                    <h5 class="card-title">Men Solid Polo Neck White T-Shirt</h5>
                    <p class="card-text">Some quick example text to build on the
                        card
                        title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary mt-auto">Buy Now</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <picture>
                    <img
                        src="https://rukminim1.flixcart.com/image/612/612/xif0q/t-shirt/v/h/u/xxl-trdhdfulmask-lion-tripr-original-imagjhhhfhgzgyng.jpeg?q=70"
                        class="img-thumbnail" alt="...">
                </picture>
                <div class="card-body">
                    <h5 class="card-title">Men Printed Hooded Neck Red T-S</h5>
                    <p class="card-text">Some quick example text to build on the
                        card
                        title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary mt-auto">Buy Now</a>
                </div>
            </div>
        </div>
    </div>


    
<!-- Personal Care and Beauty Products -->

<div class="card">
    <h5>Personal Care and Beauty Products</h5>
    <button>Cosmetics</button>
    <button>Skin Care</button>
    <button>Shower & Bath</button>
    <button>Shaving</button>
    <button>Fragrances</button>
    <button>Natural</button>


    <div class="container">
        <div class="row text-center justify-content-center scroll">
            <div class="card" style="width: 18rem;">
                <picture>
                    <img
                        src="https://rukminim1.flixcart.com/image/612/612/xif0q/lubricant/l/j/j/120-vibe-extend-premium-lube-topical-spray-kit-chocolate-flavor-original-imagmk5gcgwg2hca.jpeg?q=70"
                        class="img-thumbnail" alt="...">
                </picture>
                <div class="card-body">
                    <h5 class="card-title">Bold Care Vibe & Extend - Premium Lube & Topical spray </h5>
                    <p class="card-text">Some quick example text to build on the
                        card
                        title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary mt-auto">Buy Now</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <picture>
                    <img
                        src="https://rukminim1.flixcart.com/image/612/612/kpcy5jk0/combo-kit/z/y/h/jeju-night-care-hydration-combo-retinol-night-cream-50g-vitamin-original-imag3hvsna5r4mhy.jpeg?q=70"
                        class="img-thumbnail" alt="...">
                </picture>
                <div class="card-body">
                    <h5 class="card-title">Pilgrim "Jeju Night Care Hydration Combo | Retinol Nig</h5>
                    <p class="card-text">Some quick example text to build on the
                        card
                        title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary mt-auto">Buy Now</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <picture>
                    <img
                        src="https://rukminim1.flixcart.com/image/612/612/kzd147k0/hair-styling/e/s/k/hair-wax-100-men-boern-to-crazy-hard-spider-web-wax-for-hair-original-imagbe42k7da8ak4.jpeg?q=70"
                        class="img-thumbnail" alt="...">
                </picture>
                <div class="card-body">
                    <h5 class="card-title">LACASA BEAUTY CARE MEN BOERN TO CRAZY HARD SPIDER WAX H</h5>
                    <p class="card-text">Some quick example text to build on the
                        card
                        title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary mt-auto">Buy Now</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <picture>
                    <img
                        src="https://rukminim1.flixcart.com/image/612/612/kq9ta4w0/face-pack/0/o/c/100-100-pure-natural-sandal-wood-powder-for-removal-of-sun-tan-original-imag4bf4k6nubd7c.jpeg?q=70"
                        class="img-thumbnail" alt="...">
                </picture>
                <div class="card-body">
                    <h5 class="card-title">USA Beauty Care Face Out For Black Spot</h5>
                    <p class="card-text">Some quick example text to build on the
                        card
                        title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary mt-auto">Buy Now</a>
                </div>
            </div>
        </div>
    </div>