<!-- Electronics Products -->
<div class="card">
    <h5>Most selling Products</h5>
    <button>Smartphones</button>
    <button>T-Shirt</button>
    <button>Camera</button>
    <button>SSD</button>
    <button>TV</button>
    <button>Jackets</button>

    <div class="container">
        <div class="row text-center justify-content-center scroll">
            <div class="card" style="width: 18rem;" *ngFor="let item of
                prodoctList">
                <div *ngFor="let p of itemPage">
                <picture>
                    <a routerLink="{{p.url}}{{item.id}}">
                        <img
                            src="{{item.image}}"
                            class="img-thumbnail" alt="..."></a>
                </picture>
                <div class="card-body" id="product">
                    <a class="card-title" routerLink="{{p.url}}{{item.id}}">{{item.title}}</a>
                    <ngb-rating (click)="getRating()" [max]="5" [formControl]="raingcontrol">{{item.rating.rate}}</ngb-rating>
                    <h6 class="rate" >Rated:
                        <ngb-rating [max]="5" [rate]="Finalrating" [readonly]="true"></ngb-rating>
                    </h6>
                    <p class="card-text" id="price"><strong>$</strong>{{item.price}}</p>
                    
                </div>
            </div>
                <a routerLink="#" class="btn btn-primary ">Add To Cart</a>
            </div>

            <!-- {{ item.description | slice:0:50 }}{{
                item.description.length > 100 ? '...' : ''}} -->


        </div>
    </div>
</div>

<!-- Fashion Products -->

<div class="card">
    <h5>Fashion Products</h5>
    <button>Shirts</button>
    <button>Jeans</button>
    <button>Shoes</button>
    <button>Sunglasses</button>
    <button>Sandals</button>
    <button>T-Shirt</button>


    <div class="container">
        <div class="row text-center justify-content-center scroll">
            <div class="card" style="width: 18rem;">
                <picture>
                    <a routerLink="#">
                        <img
                            src="https://rukminim1.flixcart.com/image/612/612/xif0q/shirt/u/x/r/xxl-bhmls22561-being-human-original-imaghpth627tpg6f.jpeg?q=100"
                            class="img-thumbnail" alt="..."></a>
                </picture>
                <div class="card-body">
                    <a class="card-title" routerLink="./item">Men Slim Fit Solid
                        Mandarin Colla</a>
                    <p class="card-text">Some quick example text to build on the
                        card
                        title and make up the bulk of the card's content.</p>
                    <a routerLink="#" class="btn btn-primary mt-auto">Buy Now</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <picture>
                    <a routerLink="#">
                        <img
                            src="https://rukminim1.flixcart.com/image/612/612/xif0q/t-shirt/e/z/h/xl-jc-19-rn-hs-navy-slv-strip-jump-cuts-original-imaggd23nzjq7xzq.jpeg?q=100"
                            class="img-thumbnail" alt="..."></a>
                </picture>
                <div class="card-body">
                    <a class="card-title" routerLink="./item">Men Solid Round
                        Neck Pink T-Shirt</a>
                    <p class="card-text">Some quick example text to build on the
                        card
                        title and make up the bulk of the card's content.</p>
                    <a routerLink="#" class="btn btn-primary mt-auto">Buy Now</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <picture>
                    <a routerLink="#">
                        <img
                            src="https://rukminim1.flixcart.com/image/612/612/xif0q/t-shirt/8/a/4/xl-bhtslv22579-being-human-original-imagkk33na38u8gf.jpeg?q=100"
                            class="img-thumbnail" alt="..."></a>
                </picture>
                <div class="card-body">
                    <a class="card-title" routerLink="./item">Men Solid Polo
                        Neck White T-Shirt</a>
                    <p class="card-text">Some quick example text to build on the
                        card
                        title and make up the bulk of the card's content.</p>
                    <a routerLink="#" class="btn btn-primary mt-auto">Buy Now</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <picture>
                    <a routerLink="#">
                        <img
                            src="https://rukminim1.flixcart.com/image/612/612/xif0q/t-shirt/v/h/u/xxl-trdhdfulmask-lion-tripr-original-imagjhhhfhgzgyng.jpeg?q=70"
                            class="img-thumbnail" alt="..."></a>
                </picture>
                <div class="card-body">
                    <a class="card-title" routerLink="./item">Men Printed Hooded
                        Neck Red T-S</a>
                    <p class="card-text">Some quick example text to build on the
                        card
                        title and make up the bulk of the card's content.</p>
                    <a routerLink="#" class="btn btn-primary mt-auto">Buy Now</a>
                </div>
            </div>
        </div>
    </div>



    <!-- Personal Care and Beauty Products -->

    <div class="card">
        <h5>Personal Care and Beauty Products</h5>
        <button>Cosmetics</button>
        <button>Skin Care</button>
        <button>Shower & Bath</button>
        <button>Shaving</button>
        <button>Fragrances</button>
        <button>Natural</button>


        <div class="container">
            <div class="row text-center justify-content-center scroll">
                <div class="card" style="width: 18rem;">
                    <picture>
                        <a routerLink="#">
                            <img
                                src="https://rukminim1.flixcart.com/image/612/612/xif0q/lubricant/l/j/j/120-vibe-extend-premium-lube-topical-spray-kit-chocolate-flavor-original-imagmk5gcgwg2hca.jpeg?q=70"
                                class="img-thumbnail" alt="..."></a>
                    </picture>
                    <div class="card-body">
                        <a class="card-title" routerLink="./item">Bold Care Vibe
                            & Extend - Premium Lube & Topical spray </a>
                        <p class="card-text">Some quick example text to build on
                            the
                            card
                            title and make up the bulk of the card's content.</p>
                        <a routerLink="#" class="btn btn-primary mt-auto">Buy
                            Now</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <picture>
                        <a routerLink="#">
                            <img
                                src="https://rukminim1.flixcart.com/image/612/612/kpcy5jk0/combo-kit/z/y/h/jeju-night-care-hydration-combo-retinol-night-cream-50g-vitamin-original-imag3hvsna5r4mhy.jpeg?q=70"
                                class="img-thumbnail" alt="..."></a>
                    </picture>
                    <div class="card-body">
                        <a class="card-title" routerLink="./item">Pilgrim "Jeju
                            Night Care Hydration Combo | Retinol Nig</a>
                        <p class="card-text">Some quick example text to build on
                            the
                            card
                            title and make up the bulk of the card's content.</p>
                        <a routerLink="#" class="btn btn-primary mt-auto">Buy
                            Now</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <picture>
                        <a routerLink="#">
                            <img
                                src="https://rukminim1.flixcart.com/image/612/612/kzd147k0/hair-styling/e/s/k/hair-wax-100-men-boern-to-crazy-hard-spider-web-wax-for-hair-original-imagbe42k7da8ak4.jpeg?q=70"
                                class="img-thumbnail" alt="..."></a>
                    </picture>
                    <div class="card-body">
                        <a class="card-title" routerLink="./item">LACASA BEAUTY
                            CARE MEN BOERN TO CRAZY HARD SPIDER WAX H</a>
                        <p class="card-text">Some quick example text to build on
                            the
                            card
                            title and make up the bulk of the card's content.</p>
                        <a routerLink="#" class="btn btn-primary mt-auto">Buy
                            Now</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <picture>
                        <a routerLink="#">
                            <img
                                src="https://rukminim1.flixcart.com/image/612/612/kq9ta4w0/face-pack/0/o/c/100-100-pure-natural-sandal-wood-powder-for-removal-of-sun-tan-original-imag4bf4k6nubd7c.jpeg?q=70"
                                class="img-thumbnail" alt="..."></a>
                    </picture>
                    <div class="card-body">
                        <a class="card-title" routerLink="./item">USA Beauty
                            Care Face Out For Black Spot</a>
                        <p class="card-text">Some quick example text to build on
                            the
                            card
                            title and make up the bulk of the card's content.</p>
                        <a routerLink="#" class="btn btn-primary mt-auto">Buy
                            Now</a>
                    </div>
                </div>
            </div>
        </div>