.card{
    display: block;
    text-align: center;
    margin-top: 20px;
}
.card h5{
    padding-top: 20px;
}
.card Button{
    margin: 15px;
    padding: 10px;
    width: 140px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    color: black;
    font-weight: 600;
}
.card Button:hover{
    margin: 15px;
    padding: 10px;
    background-color: black;
    border-radius: 5px;
    color: white;
    font-weight: 400;
}
#product{
    text-align: left;
}

.card img{
    width: auto;
    height: auto;
    padding: 10px;
}
.card{
    margin: 5px;
    border-radius: 10px; 
}
.card .btn{
    text-align: center;
    margin-bottom: 20px;
}
.btn{
    color: black;
    background-color: white;
    font-weight: 600;
    border:2px solid black;
    text-transform: capitalize;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 2px;
    margin-right: 2px;

}
.btn:hover{
    color: white;
    background-color: black;
    font-weight: 600;
    border:2px solid white;
}
#price{
    color:rgb(210, 63, 87);
    font-weight: 500 ;
    font-size: x-large;
}
.card img{
    width: auto;
    height: 220px;
    padding: 10px;
    margin-top: 10px;
}

.img-thumbnail{
   border: none;
   transition: 0.3s ease-in-out;
}
.img-thumbnail:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.05);
 }
.card-title{
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    overflow: hidden;
    width: 250px;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-style: bold;
    font-weight: 600;
  }
 ngb-rating{
    color:#FFC107;
    font-size: 30px;
 }