<div class="container">
<div class="row text-center justify-content-center scroll">
    <div class="card" style="width: 18rem;">
        <picture>
            <a routerLink="#">
            <img
                src="https://rukminim1.flixcart.com/image/200/200/kzzw5u80/coffee/s/b/x/-original-imagbwf3wvhzfh5z.jpeg?q=70"
                class="img-fluid" alt="...">
                </a>
        </picture>
        <div class="card-body">
            <a class="card-title" routerLink="./item">Coffee Powder</a>
            <p class="card-text">Some quick example text to build on the card
                title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Buy Now</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <picture>
            <a routerLink="#">
            <img
                src="https://rukminim1.flixcart.com/image/200/200/kactpjk0/shaver/m/6/z/philips-s1121-45-s1121-45-original-imafry2qgxcwnm9r.jpeg?q=70"
                class="img-fluid" alt="...">
                </a>
        </picture>
        <div class="card-body">
            <a class="card-title" routerLink="./item">Phillips Shavers</a>
            <p class="card-text">Some quick example text to build on the card
                title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Buy Now</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <picture>
            <a routerLink="#">
            <img
                src="https://rukminim1.flixcart.com/image/200/200/kokdci80/dslr-camera/v/e/x/z-24-200mm-z5-nikon-original-imag2zuekuxgxsgg.jpeg?q=70"
                class="img-fluid" alt="...">
                </a>
        </picture>
        <div class="card-body">
            <a class="card-title" routerLink="./item">Nikon D5600</a>
            <p class="card-text">Some quick example text to build on the card
                title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Buy Now</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <picture>
            <a routerLink="#">
            <img
                src="https://rukminim1.flixcart.com/image/200/200/l12h1u80/cases-covers/back-cover/v/7/9/sgf235g-pat367-my-thing-original-imagcprak4yhdbh5.jpeg?q=70"
                class="img-fluid" alt="...">
                </a>
        </picture>
        <div class="card-body">
            <a class="card-title" routerLink="./item">Redmi note 12</a>
            <p class="card-text">Some quick example text to build on the card
                title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Buy Now</a>
        </div>
    </div>
    

</div>  

</div>
