<div class="container">
    <div class="row">
        <div class="column">
            <picture>
                <img class="main_img"
                    src="https://bazaar.ui-lib.com/_next/image?url=%2Fassets%2Fimages%2Fproducts%2Fflash-2.png&w=384&q=75"
                    />
            </picture>
        </div>
        <div class="column">
            <h5 class="title">Classic Rolex Watch</h5>
            <h6 class="brand">Brand:<span class="seller-name">Apple</span></h6>
            <h6 class="rate">Rated:
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
                (50)+
            </h6>
            <h6 class="options">Colour Options:
                <br>
                <mat-button-toggle-group name="fontStyle" aria-label="Font
                    Style">
                    <mat-button-toggle class="Blue">Blue</mat-button-toggle>
                    <mat-button-toggle class="Silver">Silver</mat-button-toggle>
                    <mat-button-toggle class="Black">Black</mat-button-toggle>
                </mat-button-toggle-group>
            </h6>
            <h4 class="price">Price: <span id="price_color">₹5600.00</span></h4>
            <a type="submit" class="cart-btn">Add To Cart <i class="bi
                    bi-cart-fill" id="icon"></i></a>
            <a type="submit" class="cart-btn">Add To Wishlist <i class="bi
                    bi-heart-fill" id="icon"></i></a>

            <h4 class="seller">Sold By : <span class="seller-name">Samsung India</span></h4>
        </div>
        <mat-tab-group>
            <mat-tab label="Description">
                <h1>Specification</h1>
                <h6>Brand: Samsung</h6>
                <h6>Model: S450</h6>
                <h6>Wireless Bluetooth Headset</h6>
                <h6>FM Frequency Response: 87.5 – 108 MHz</h6>
                <h6>Feature: FM Radio, Card Supported (Micro SD / TF)</h6>
                <h6>Made in China</h6>
            </mat-tab>
            <mat-tab label="Review(86)">
                <div id="review">
                    <img class="review-pic"
                        src="https://bazaar.ui-lib.com/assets/images/faces/7.png">
                    <span class="reviewer-name"> Paresh Chaudhari</span>
                    <h6 class="rate">Rated:
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-half"></i>
                    </h6>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        Vel, architecto accusamus. Magnam numquam ullam
                        voluptates, animi a sunt doloribus! Sed deserunt culpa
                        eum alias, itaque modi eos ratione rem in?</p>
                </div>
                <hr>
                <div id="review">
                    <img class="review-pic"
                        src="https://bazaar.ui-lib.com/assets/images/faces/8.png">
                    <span class="reviewer-name">Balaji Tarksband</span>
                    <h6 class="rate">Rated:
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-half"></i>
                    </h6>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        Vel, architecto accusamus. Magnam numquam ullam
                        voluptates, animi a sunt doloribus! Sed deserunt culpa
                        eum alias, itaque modi eos ratione rem in?</p>
                </div>
                <hr>
                <div id="review">
                    <img class="review-pic"
                        src="https://bazaar.ui-lib.com/assets/images/faces/6.png">
                    <span class="reviewer-name"> Aditya Joshi</span>
                    <h6 class="rate">Rated:
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-half"></i>
                    </h6>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        Vel, architecto accusamus. Magnam numquam ullam
                        voluptates, animi a sunt doloribus! Sed deserunt culpa
                        eum alias, itaque modi eos ratione rem in?</p>
                </div>
                <hr>

            </mat-tab>
        </mat-tab-group>
    </div>
</div>