#carouselExampleCaptions{
    text-align: center;
    margin: auto;
    padding: 10px;
    height: 400px;
}
.carousel-item h5{
    color: black;
    font-weight: 900;
}
.carousel-item p{
    color: black;
    font-weight: 900;
}

